* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: white;
}

.content {
    padding: 50px;
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    text-align: justify;
    font-family: arial;
}

.location,
.temperature {
    height: 30vh;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 900px) {
    .location,
    .temperature {
        width: 70%;
    }

    .location {
        display: inline-block;
        padding: 20px;
    }

    .location-timezone {
        padding: 20px;
    }

    .date {
        padding: 0 20px 0 20px;
    }
}

@media screen and (max-width: 500px) {

    .location,
    .temperature {
        width: 80%;
        background-color: red;
    }

    .location {
        display: inline-block;
        padding: 20px;
    }

    .location-timezone {
        padding: 20px;
    }

    .date {
        padding: 0 20px 0 20px;
    }
}

@media screen and (max-width: 400px) {

    .location,
    .temperature {
        width: 90%;
        background-color: red;
    }

    .location {
        display: inline-block;
        padding: 20px;
    }

    .location-timezone {
        padding: 20px;
    }

    .date {
        padding: 0 20px 0 20px;
    }
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}

.search-box {
    /* margin: 50px; */
    width: 60%;
    min-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px 0 16px 0;
    border-bottom: 3px solid #df8e00;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

.search-box:focus {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 16px 0 16px;
}

footer {
    font-family: sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 14%;
    width: 100%;
    text-align: center;
    padding: 14px;
    background-color: rgba(8, 23, 110, 0.6);
    border-radius: 25px;
}

footer:hover {
    background-color: rgba(11, 18, 59, 0.4);
    font-size: 1.2rem;
}

footer a {
    font-family: sans-serif;
    text-decoration: none;
    color: crimson;
    font-weight: 500;
    font-size: 1.22rem;
}